<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/header :: bootStrap_header">
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<nav th:include="partials/navbar :: bootStrap_nav" ></nav>
<body>
<form th:action="@{|/post/${editPost.id}/edit|}" th:method="post" th:object="${editPost}">

    <input type="text" name="editPost" id="editPost" th:placeholder="${editPost.title}" th:field="*{title}">

    <input type="text" name="body" id="body" th:placeholder="${editPost.body}" th:field="*{body}">

    <button th:type="submit">Edit</button>
</form>
<a th:href="@{|/post/delete/${editPost.id}|}">Delete Post</a>
</body>
<footer th:replace="/partials/footer :: bootStrap_footer"></footer>

</html>
