<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Footer</title>
  <link rel="stylesheet" href="../../static/css/headerstyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>

<footer class="site-footer" th:fragment="footer-partial">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Thank you for visiting the Annotation Station. Annotation Station was designed to help you organize helpful information and keep it store for lateer use. We hope you find your visit to this site helpful and informative. This website was built with languages such as Java, HTML, CSS, Bootstrap, JavaScript, MySQL and Spring.</p>
      </div>

      <div class="col-xs-6 col-sm-offset-3 col-md-3">
        <h6>Creators</h6>
        <ul class="footer-links">
          <li><a href="https://www.linkedin.com/in/nathan-adcock-19004453/">Nathan</a></li>
          <li><a href="https://www.linkedin.com/in/kelvon-patterson-98b95220b/">Kelvon</a></li>
          <li><a href="https://www.linkedin.com/in/darius-brown-282983209/">Darius</a></li>
          <li><a href="https://www.linkedin.com/in/brett-crawford-a6695920b/">Brett</a></li>
          <li><a href="https://www.linkedin.com/in/victor-f-hernandez-95578520b/">Victor F</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
          <a href="#">Codeup</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/GoCodeup"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="https://twitter.com/gocodeup"><i class="fa fa-twitter"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/school/codeup/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</footer>

</body>
</html>