// get video element id
var vidClip = document.getElementById("videoPlayer");
console.log(vidClip);
// play video event
function playVid() {
// vidClip.play();
vidClip.contentWindow.postMessage(JSON.stringify({event:"command", func:"playVideo"}),"*")
}
// pause video event
function pauseVid() {
// vidClip.pause();
vidClip.contentWindow.postMessage(JSON.stringify({event:"command", func:"pauseVideo"}),"*")
}

$('#createFormSubmit').click(function(){
playVid();

console.log("im clicked");
})

$('#note').keypress(function(){
pauseVid();
console.log("key pressed");
})

@GetMapping("/create")
public String getCreatePage(){
return "/create";
}
src="https://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1"